@font-face {
    font-family: SP Marker;
    src: url("fonts/SP-Marker-Font.otf") format("opentyle");
}

/* body */
 body {
     font-family: 'SP Marker', 'Raleway', arial, sans-serif;
     background-color: green;   
     background-image: url("https://i.warosu.org/data/tg/img/0321/06/1400219320024.jpg");
     background-size: cover;
     color: red;
     font-weight: 450;
     margin: 0 auto;
     text-align: center;
     min-height: 100vh;
     display: flex;
     justify-content: stretch;
 }

 header {
     margin: 0;
 }
  
 main {
     display: flex;
     justify-content: space-around;
 }

 .left {
     padding:  50px 0px 25px 20px;
 }

 .right {
     padding: 50px 0px 25px 20px;
 }

 .end-messages {
     position: absolute;
     left: 50%;
     top: 40%;
 }

 footer {
     padding: 50px 20px;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* titles */

 h1 {
     font-size: 50px;
     letter-spacing: 3px;
     margin: 0;
     padding: 20px;
 }

 h2 {
     padding-top: 10px;
     letter-spacing: 2px;
     font-size: 40px;
 }

 ul {
     margin: 0 auto;
     padding: 0;
     letter-spacing: 2px;
 }

 li {
     display: inline;
     font-size: 25px;
 }

 .word {
     font-size: 40px;
     letter-spacing: 10px;
     width: 400px;
     margin: 30px auto 0 auto;
 }

 .letter-wrapper {
     display: flex;
     flex-wrap: wrap;
     width: 80%;
     align-items: center;
     justify-content: center;
 }

 .alph {
     margin: 7px;
     padding: 8px;
     font-size: 30px;
     border: 2px white;
     border-radius: 5px;
     cursor: pointer;
     text-transform: uppercase;
 }

 #result, #play-again, #answer {
     font-size: 25px;
     letter-spacing: 3px;
     margin: 30px auto 0 auto;
     text-shadow: -2px 2px 6px black;
 }

 #play-again, #answer {
     cursor: pointer;
     font-size: 25px;
     margin-top: 25px;
 }

 .category:hover {
     opacity: 3;
     cursor: crosshair;
     text-decoration: underline, green;
 }

 #play-again:hover, #answer:hover {
     opacity: 3;
     text-decoration: underline, green;
 }

 .alph:hover {
     opacity: 0.5;
 }

 /*play area*/

 .top-stand {
     border-top: 5px solid #966F33;
     border-left: 5px solid #966F33;
     border-right: 5px solid #966F33;
     width: 190px;
     height: 50px;
     margin-left: 98px;
 }

 .left-stand, .man {
     float: left;
     width: 200px;
 }

 .pole {
     height: 275px;
     width: 5px;
     background: #966F33;
     margin: 0 auto;
 }

 .base {
     border-top: 6px solid #966F33;
     width: 200px;
     height: 50px;
     font-size: 25px;
     letter-spacing: 5px;
     padding-top: 10px;
 }

 .man { 
     position: relative;
     width: 200px;
     margin: 0 auto;
     height: 375px;
 }

 .hidden {
     display: none;
 }

 .head {
     width: 75px;
     height: 75px;
     border-radius: 50%;
     border: 6px solid white;
     left: 50%;
     margin: 0 auto;
 }

 .eyes, .frown {
     font-weight: bold;
     opacity: 0;
     font-family: airal, sans-serif;
 }

 .eyes {
     position: absolute;
     top: 6%;
     left: 45%;
 }

 .frown {
     transform: rotate(90deg);
     position: absolute;
     top:  11%;
     font-size: 24px;
 }

 .torso, .arm, .leg {
     width: 6px;
     background: white;
 }

 .arm, .leg {
     height: 75px;
 }

 .arm { 
     left: 49%;
     top: 18%;
     transform-origin: bottom;
     position: absolute;
 }

 .left-arm {
     transform: rotate(-50deg);
 }

 .right-arm {
     transform: rotate(50deg);
 }

 .leg {
     transform-origin: bottom;
     position: absolute;
     left: 49%;
     top: 31%;
 }

 .left-leg {
     transform: rotate(130deg);
 }

 .right-leg {
     transform: rotate(130deg);
 }

 @media screen and (max-width: 870px) {
    main {
        flex-direction: column;
        justify-content: space-around;
    }
    footer {
        margin-top: auto;
    }
    .main-right {
        order: -1;
        margin-top: 0px;
    }
    .end-messages {
        left: 37%;
        top: 40%;
    }
    #answer {
        padding-bottom: 10px;
    }
    .word {
        font-size: 26px;
        width: 100%;
        margin: 30px auto;
    }
    h2, li {
        font-size: 24px;
    }
    .main-left, .main-right {
        padding: 0 10px;
    }
    .main-left {
        margin: 0 auto;
    }
    .stand-left {
        width: 100px;
    }
    .stand-top {
        height: 10px;
    }
    .pole {
        height: 140px;
    }
    .stand-base {
        width: 150px;
        font-size: 18px;
    }
    .man {
        height: 100px;
    }
    .torso {
        height: 50px;
    }
    .arm,.leg {
        height: 35px;
    }
    .arm {
        top: 40%;
    }
    .leg {
        top: 64%
    }
    .head {
        width: 40px;
        height: 40px;
    }
    .eyes {
        top: 8%;
        left: 45%;
        letter-spacing: -1px;
    }
    .frown {
        top: 15%;
        left: 49%;
    }
    .stand-top {
        width: 145px;
        margin-left: 47px;
    }
    .alph-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h2, li, .alph, #result, #play-again, #answer {
        font-size: 18px;
        margin-top: 10px;
    }
    .word {
        font-size: 18px;
    }
    .alph {
        font-size: 16px;
    }
    footer {
        padding: 0px 20px;
    }
}
@media screen and (max-width: 870px){
    main {
        flex-direction: column;
        justify-content: space-around;
    }
    footer {
        margin-top: auto;
    }
    right-main {
        left: 37%;
        top: 40%;
    }

    .end-messages {
        left:  37%;
        top: 40%;
    }

    #answer {
        padding-bottom: 10px;
    }
    .word {
        font-size: 25px;
        width: 100%;
        margin: 30px auto;
    }
    h2, li {
        font-size: 24px;
    }
    .left-main, .right-main {
        padding: 0 10px;
    }
    .left-main {
        margin: 0 auto;
    }
    .left-stand {
        width: 100px;
    }
    .top-stand {
        height: 10px;
    }
    .pole {
        height: 140px;
    }
    .base {
        width: 150px;
        font-size: 20px;
    }
    .man {
        height: 100px;
    }
    .torso {
        height: 50px;
    }
    .arm, .leg {
        height: 40px;
    }
    .arm {
        top: 40%;
    }
    .leg {
        top:  64%;
    }
    .head {
        width: 40px;
        height: 40px;
    }
    .eyes {
        top:  8%;
        left: 45%;
        letter-spacing: -1px;
    }
    .frown {
        top: 15%;
        left: 49%;
    }
    .top-stand {
        width: 145px;
        margin-left: 47px;
}
    .letter-wrapper {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h2, li, .alph, #result, #play-again, #answer {
        font-size: 18px;
        margin-top: 10px;
    }
    .word {
        font-size: 18px;
    }
    .alpha {
        font-size: 16px;
    }
    footer {
        padding: 0px 20px;
    }
}


